.header {
    background: #212529;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu li {
    margin: 0 22px;
}